DATABASE_URL=postgresql://postgres:root@localhost:5432/<db_name>
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://postgres:root@localhost:5432/<db_name>
GOOSE_MIGRATION_DIR=./migrations
JWT_SIGNING_KEY=<jwt_signing_key>
CLIENT_URL=http://localhost:5173